# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="Club Vertikal"

# Database (SQLite)
DATABASE_URL="file:./dev.db"

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# Resend (email)
RESEND_API_KEY=re_xxx
